  <h2 style="padding: 10px 0 10px 3px;"><%= @accommodation.title  %> </h2>

  <div class="card-trip", >
    <%# Colocar no image_tag imagem referente à accommodation correta %>
    <%= image_tag "https://i.insider.com/56cdb126dd0895dd048b4793?width=600&format=jpeg&auto=webp" %>
    <div class="row">
      <div class="card-trip-infos">
        <div class="col-8">
          <p> <%= @accommodation.description %> </p>
        </div>

        <div class="col-4">
              <%= image_tag "https://images.unsplash.com/photo-1635373670332-43ea883bb081?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=381&q=80", class: "avatar-bordered" %>
              <h2 class="card-trip-pricing">$ <%= @accommodation.price %></h2>
              <%# Colocar no image_tag imagem referente ao user owner do imóvel %>
              <%= link_to "Book this place", new_accommodation_rental_path(@accommodation), class: "button-gradient", style: "text-decoration: none; float: right;"%>
        </div>
      </div>
    </div>
  </div>

<!-- HTML !-->
<%# <button class="button-gradient" role="button">Button 85</button> %>
