<div class="container">
  <h1 class = "mt-5 mb-5 text-center">My accommodations</h1>
  <div class = "text-center mb-5">
    <%= link_to "Create new accommodation", new_accommodation_path, class: "btn btn-gradient"  %>
  </div>

  <div class="container">
    <div class="row">
      <div class="col">
      <%# colocar aqui calendário de reservas e total já arrecadado por accommodation %>

      </div>

      <div class="col">
        <% @accommodations.each do |accommodation| %>

          <div class="card-product m-3">
            <% if accommodation.photos.attached? %>
              <%= cl_image_tag accommodation.photos.first.key, height: 300, crop: :fill %>
            <% else %>
              <%= image_tag "https://i.insider.com/56cdb126dd0895dd048b4793?width=600&format=jpg&auto=webp" %>
            <% end %>
              <%# colocar no image_tag a imagem correta da accommodation %>
            <div class="card-product-infos">
              <h2><%= accommodation.title %></h2>
              <p><%= accommodation.description %></p>
              <p>Price per day: $<%= accommodation.price %></p>
            </div>

            <div class="dropdown">
              <button class="btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-ellipsis-vertical"></i>
              </button>
              <ul class="dropdown-menu">
                <li>
                  <%= link_to "See accommodation", accommodation_path(accommodation), class: "dropdown-item" %>
                </li>
                <li>
                  <%= link_to "Edit", edit_accommodation_path(accommodation), class: "dropdown-item"  %>
                </li>
                <li>
                  <%= link_to "Delete", accommodation_path(accommodation), class: "dropdown-item" , data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
                </li>
              </ul>
            </div>
          </div>
        <% end %>
      </div>
  </div>
</div>
