<div class="container">
  <h1 class = "mt-5 mb-5 text-center">My Bookings</h1>
<div class="grid-2-columns ">
    <% @bookings.each do |rental| %>
      <div class="card-product m-3">
        <% if rental.accommodation.photos.attached? %>
          <%= cl_image_tag rental.photos.first.key, height: 300, crop: :fill %>
        <% else %>
          <%= image_tag "https://i.insider.com/56cdb126dd0895dd048b4793?width=600&format=jpg&auto=webp" %>
        <% end %>
        <div class="card-product-infos">
          <h2><strong><%= rental.accommodation.title %></strong></h2>
          <p><strong>Planet: </strong><%= rental.accommodation.planet %></p>
          <p><strong>Total price: $ </strong><%= rental.total_price %></p>
        </div>
        <div class="dropdown">
          <button class="btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-ellipsis-vertical"></i>
          </button>
          <ul class="dropdown-menu">
            <li>
              <%= link_to "See accommodation", accommodation_path(rental.accommodation), class: "dropdown-item" %>
            </li>
            <li>
              <%= link_to "Cancel Booking", rental_path(rental), class: "dropdown-item" , data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
            </li>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
</div>

<style>
  .grid-2-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 32px;
  }
</style>
