<div class="container">
  <h1 id="home-title">Welcome to <strong>Space</strong>bnb</h1>
  <p id="home-paragraph">Let's start <strong>our journey</strong>!</p>

  <form novalidate="novalidate" class="simple_form search" action="/" accept-charset="UTF-8" method="get">
    <%= simple_form_for :search, url: root_path, method: :get do |f| %>
      <div class="search-form-control form-group">
        <input class="form-control string required" type="text" name="search[query]" id="search_query" />
        <%= link_to "| ðŸ” Search", accommodations_path, class: "btn btn-flat" %></i>
      </div>
    <% end %>

  <div class="cards justify-content">

    <% @accommodations.each do |accommodation| %>
      <%= link_to accommodation_path(accommodation), class:"text-decoration-none" do %>
        <div class="card-trip mt-5">

          <%= image_tag "https://i.insider.com/56cdb126dd0895dd048b4793?width=600&format=jpg&auto=webp" %>

          <div class="card-trip-infos">
            <div>
              <h2><%= accommodation.title %></h2>
              <p><%= accommodation.description %></p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
