<div class="container">
  <h1 id="home-title">Welcome to <strong>Space</strong>bnb</h1>
  <p id="home-paragraph">Let's start <strong>our journey</strong>!</p>

  <%= form_with url: accommodations_path, method: :get, class: "d-flex" do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a place"
    %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>

  <div class="cards justify-content">

    <% @accommodations.each do |accommodation| %>
      <%= link_to accommodation_path(accommodation), class:"text-decoration-none" do %>
        <div class="card-trip home mt-5">

          <%= image_tag "https://i.insider.com/56cdb126dd0895dd048b4793?width=600&format=jpg&auto=webp" %>

          <div class="card-trip-infos">
            <div>
              <h2><%= accommodation.title %></h2>
              <p><%= accommodation.description %></p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
